.fundo-ladding{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -2;
}

.fundo-ladding img{
    height: 100%;
    width: 100%;
}

.ladding-conteudo{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.ladding-conteudo .japao-text{
    width: 65%;
    margin: 0 auto;
    padding-top: 1rem;
}

.ladding-conteudo .container-texto{
    margin: 7rem 0;
    width: 55%;
    background-color: #651315;
    height: max-content;
    font-family: "Inter", sans-serif;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: inset -5px -5px 20px 0px #FF7777;
    padding: 15px 20px 15px 25px;
} 

.ladding-conteudo .container-texto p{
    color: white;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 300;
}

.btn-play{
    margin-top: -3rem;
    width: 45%;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* =========================== controla o tamanho do btn */
}

.girar{
    width: 45%;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    pointer-events: none;
}


.btn-play .girar img{
max-width: 15rem;
width: 50%;
position: absolute;
animation: girar 8s linear infinite;
pointer-events: none;
/* ============================== efeito de girar ============= */
}

.btn-play .circulo{
    background-color: white;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.circulo img{
    height: 8rem;
    width: 6rem;
    margin-left: 1rem;
    pointer-events: none;
}

.garota-japao{
    position: absolute;
    height: 100%;
    width: 100%;
}

.garota-japao img{
 height: 85%;
 width: 35%;
 position: absolute;
 right: 0;
 bottom: 0px;
}

.vector-baixo{
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: rotate(180deg);
    height: 14rem;
    pointer-events: none;
}




@media (max-width:1200px) {
    .garota-japao img{
        height: 65%;
        width: 70%;
        position: absolute;
        right: -4rem;
        bottom: 0px;
       }

       .ladding-conteudo .japao-text{
        width: 85%;
        margin: 0 auto;
        padding-top: 3rem;
    }

    .btn-play .circulo{
        background-color: white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circulo img{
        height: 5rem;
        width: 4rem;
        margin-left: 1rem;
        
    }

    .btn-play{
        margin-top: 10rem;
        margin-left: 2rem;
        width: 35%;
        height: 18rem;
        display: flex;
        justify-content: center;
        align-items: center;
        /* =========================== controla o tamanho do btn */
    }

    
.btn-play .girar img{
    max-width: 19rem;
    width: 91%;
    position: absolute;
    animation: girar 8s linear infinite;
    /* ============================== efeito de girar ============= */
    }

    .ladding-conteudo .container-texto{
        margin: 2rem 0;
        width: 100%;
        text-align: center;
        background-color: #65131400;
        height: max-content;
        font-family: "Inter", sans-serif;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        box-shadow: inset -5px -5px 20px 0px #ff777700;
        padding: 0 15px;
    } 

    .vector-baixo{
        position: absolute;
        width: 100%;
        bottom: 0px;
        transform: rotate(180deg);
        height: 9.5rem;
    }

    
.ladding-conteudo{
margin-bottom: 5rem;
}

}