.container-carousel{
    margin-left: 25rem;
    padding-top: 10rem;
    width: 70%;
    
}


.carousel-cardHorizontal{
    display: flex;
    justify-content: space-around;
   
}


.abc{
    background-color: black;
    height: 100vh;
    width: 100%;
}

.title-carousel{
    color: #2A2A2A;
    font-size: 30px;
    font-weight: 700;
    padding-left: 2rem;
}





@media (max-width: 1500px) {
    .container-carousel{
        margin-left: 23rem;
        width: 68%;
        
    }
}



@media (max-width: 1200px) {

    
    .container-carousel{
        margin: 0 auto;
        padding-top: 10rem;
        width: 90%;
        
    }
}
