.container-carousel{
    margin-left: 25rem;
    margin-top: 5.8rem;
    width: 70%;
    
}



.carousel-cardHorizontal{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding-bottom: 2rem;
    padding-left: 17px;
    padding-right: 17px;
}

span{
    width: 100%;
    min-width: 10rem;
}


.abc{
    background-color: black;
    height: 100vh;
    width: 100%;
}

.title-carousel{
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    padding-left: 2rem;
    background-image: linear-gradient(to right bottom, #c90d0d, #ad3030, #501616, #000000);
    box-shadow: inset 10px 10px 20px 0px rgb(85, 5, 5);
    border-radius: 30px;
}

.btn-passar{
    margin-top: 10rem;
    background-color: #00000093;
}

.color-arrow, .color-arrow2{
height: 100px;
width: 100px;
}

.color-arrow{
    transform: translateX(-5rem);
}

.color-arrow2{
    transform: translateX(11rem);
}


@media (max-width: 1500px) {
    .container-carousel{
        margin-left: 23rem;
        width: 68%;
        
    }
}



@media (max-width: 1200px) {

    .color-arrow, .color-arrow2{
        height: 50px;
        width: 50px;
        }

    .color-arrow{
        transform: translateX(0rem);
        
    }

    .color-arrow2{
        transform: translateX(0rem);
        
    }
    
    .container-carousel{
        margin: 0 auto;
        padding-top: 0rem;
        width: 90%;
        
    }

    .btn-passar{
        margin-top: -4rem;
        background-color: #00000093;
    }
}
