*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.conteudo-japao{
    height: 120vh;
}

.coluna-conteudo{
    display: flex;
    flex-direction: column;
    height: max-content;
    background-image: linear-gradient(to bottom, #ffffff, #c3c2c3, #c2c2c2, #cfcfcf, #cecece);
    padding-bottom: 10rem;
}








/* ================ animation ========== */

@keyframes girar {
    from {
        transform: rotate(0deg); /* Posição inicial */
    }
    to {
        transform: rotate(360deg); /* Posição final */
    }
}



/*  responsividade */
@media (max-width: 1200px) {



    .container-populares{
        display: none;
    }

}

@media (max-width: 900px) {


    .descktop{
        display: none;
    }

}
