*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.conteudo-japao{
    height: 120vh;
}

.coluna-conteudo{
    display: flex;
    flex-direction: column;
    height: max-content;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff, #eeeeee, #cfcfcf, #cecece);
    padding-bottom: 10rem;
}

.alinhar-center{
display: flex;
justify-content: center;
width: 100%;
}

.container-btnPagina button{
    box-shadow: inset 0px 0px 8px 2px rgb(230, 230, 230);
    
}








/* ================ animation ========== */

@keyframes girar {
    from {
        transform: rotate(0deg); /* Posição inicial */
    }
    to {
        transform: rotate(360deg); /* Posição final */
    }
}



/*  responsividade */
@media (max-width: 1200px) {

    .alinhar-center button{
        height: 4.5rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        }


    .container-populares{
        display: none;
    }

    .alinhar-center{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 4rem;
        }

}

@media (max-width: 900px) {


    .descktop{
        display: none;
    }

}
